
h1
{
	background-color: green;
	color:white;
	font-style: italic;
	letter-spacing:	5px;
	font-size: 25px;
	font-family:Verdana;
	padding: 10px;
	text-align:center;
	width:500px;
	margin-left:auto;
	margin-right:auto;

	
}



body
{
	background-image:url(hoffman.png);
	background-color: lightgreen;
}

a
{
	color:green;
}
.error
{
	color:red;
	
}


#menu
{
	text-align:center;
	width:940px;
	margin-left:auto;
	margin-right:auto;
	background-color: gray;
	margin-top:20px;
	color:#ffffff;
	padding:10px;
	
}
.option
{
	text-align:center;
	float:left;
	min-width:100px;
	height:25px;
	font-size:18px;
	padding:10px;
	border-right:2px solid #444444;
	opacity:0.6;
}

.optionR
{
	text-align:center;
	float:left;
	min-width:100px;
	height:25px;
	font-size:18px;
	padding:10px;
	
	opacity:0.6;
}

.option:hover
{
	background-color:#000000;
	cursor: pointer;
}

.optionR:hover
{
	background-color:#000000;
	cursor: pointer;
}
#gracz
{
	width:200px;
	border-style: double;
	border-color:black;
	font-size: 14px;
	font-family:Verdana;
	padding: 10px;
	text-align:center;
	float:left;
}

#najlepsi
{
	background-color: #ffffcc;
	border:2px solid #999900;
	padding: 5px;
	font-size: 15px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
	float:right;
	width:220px;
	text-align:center;
	
}

#wynik
{
	margin-left:700px;
	margin-right:auto;
	margin-bottom:auto;
	font-size: 25px;
	font-family:Verdana;
}

#trening
{
	
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
		text-align:center;
	
}

#trenuj
{
	
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
		text-align:center;
	
}


#gra
{
	margin-top:50px;
	margin-bottom:50px;
	margin-left:780px;
	margin-right:auto;
	
}


#pojemnik
{
	width:900px;
	margin-left:auto;
	margin-right:auto;

}

#haslo
{
	width:900px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	font-size:80px;

}

#odpowiedz
{
	
	margin-top:50px;
	width:900px;
	text-align:center;

}
#dobreodp
{
	float:right;
	width:900px;
	text-align:center;
	font-size:40px;
}

#opis
{
	float:left;
	margin-top:50px;
	width:900px;
	text-align:center;

}

#zegar
{
	font-size: 40px;
	font-family:Verdana;
	float:center;
	width:300px;
	text-align:center;

}


button.Grabutton {
	margin-top:100px;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffd919 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffd919),
		to(#ab0000));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 0px solid #0f007d;
	-moz-box-shadow:
		-1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		-1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		-1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		1px 0px 4px rgba(000,000,000,0.8),
		0px 1px 0px rgba(255,255,255,0.4);


}


#slownik
{
	background-color: #D9D9F3;
	padding-top:100px;
	padding-bottom:100px;
	padding-left:100px;
	column-count: 3;
	width:auto;
	height:auto;
	font-size:20px;
}


.rank
{
	float:left;
	padding-top:100px;
	padding-bottom:100px;
	padding-left:150px;
	padding-right:100px;
	width:auto;
	height:auto;
	font-size:20px;
}